

<link rel="stylesheet" href="~/assets/scss/pages/aboutpage/about.css">

<main>

    <section id="aboutpagebegin">
        <div class="container">
            <div class="aboutpageleavehomepage">
                <div class="aboutus">
                    <h4>ABOUT-US</h4>
                </div>
                <div class="homeabout"><a href="homepage.html">HOME</a> / <a href="about.html">ABOUT-US</a></div>
            </div>
        </div>
        <hr>
    </section>

    <section id="awesomequality">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="qualityimg">
                        <img src="~/assets/img/aboutpagefoto.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="industry">

                        <h2>Our More Than 20 Years Of <br> Experience</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor, orci in lacinia
                            lobortis, tellus tellus placerat tortor, a venenatis enim magna vitae urna. In lobortis
                            lorem ut tortor tempor elementum. Nunc elementum iaculis eros, eu dignissim nibh sodales
                            id. Pellentesque eget risus semper, ultricies neque eget, feugiat erat. Aenean ut augue
                            ut diam egestas pulvinar id non ante. Donec elementum erat id aliquam viverra. Donec
                            varius ullamcorper sem eget bibendum. Donec sed vulputate nisi. Etiam id velit enim.
                            Aliquam commodo bibendum nulla quis aliquet.
                        </p>

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item item1">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                        How To Become Our Partner
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Nulla ac accumsan urna. Praesent id leo ut velit
                                        tempor gravida. Nulla facilisi. Nam blandit rhoncus lectus, eu euismod diam
                                        rhoncus et. In sollicitudin bibendum odio, at tristique purus elementum sit
                                        amet. Integer vulputate, justo at lacinia suscipit, erat nibh interdum
                                        augue, sit amet hendrerit neque ipsum at eros.
                                    </div>
                                </div>
                                <div class="accordion-item item2">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Sell Your Products Here
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            Nulla ac accumsan urna. Praesent id leo ut velit
                                            tempor gravida. In sollicitudin bibendum odio, at tristique purus
                                            elementum sit amet. Integer vulputate, justo at lacinia suscipit, erat
                                            nibh interdum augue, sit amet hendrerit neque ipsum at eros.
                                        </div>
                                    </div>
                                    <div class="accordion-item item3">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                    aria-expanded="false" aria-controls="flush-collapseThree">
                                                Awesome Quality
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingThree"
                                             data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                Nulla ac accumsan urna. Praesent id leo ut velit tempor gravida.
                                                Nulla facilisi. Nam blandit rhoncus lectus, eu euismod diam rhoncus
                                                et. In sollicitudin bibendum odio, at tristique purus elementum sit
                                                amet.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
    </section>

    <section id="greatservice">

        <div class="container">
            <div class="services">
                <h2>Our Great Services</h2>
                <p>
                    Boldman has 10+ years of experience with providing wide area of specialty services works listed
                    below.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="purequality">
                        <i class="fa-solid fa-check-double"></i>
                        <h4>Pure Quality</h4>
                        <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="freeservice">
                        <i class="fa-solid fa-wrench"></i>
                        <h4>Free Service</h4>
                        <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="homedelivery">
                        <i class="fa-solid fa-truck"></i>
                        <h4>Home Delivery</h4>
                        <p>Praesent id leo ut velit tempor gravida. Nam blandit rhoncus lectus, eu euismod diam</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="teams">

        <div class="container">

            <div class="title">
                <h2>Our Experts</h2>
                <p>
                    Our development opt in to the projects they
                    genuinely want to work on, <br>
                    committing wholeheartedly to delivering.
                </p>
            </div>

            <div class="team-members">

                <div class="col-lg-3">

                    <div class="single-team-member">

                        <div class="img">
                            <img src="~/assets/img/petersimons.jpg" alt="">

                            <div class="social">
                                <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://linkedin.com"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>



                        <div class="text">
                            <h4>Peter Simons</h4>
                            <p>CEO & Founder</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="single-team-member">

                        <div class="img">
                            <img src="~/assets/img/expert2img.jpg" alt="">

                            <div class="social">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>

                        <div class="text">
                            <h4>Peter Simons</h4>
                            <p>CEO & Founder</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="single-team-member">

                        <div class="img">
                            <img src="~/assets/img/expert3img.jpg" alt="">

                            <div class="social">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>

                        <div class="text">
                            <h4>Peter Simons</h4>
                            <p>CEO & Founder</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="single-team-member">

                        <div class="img">
                            <img src="~/assets/img/expert4img.jpg" alt="">

                            <div class="social">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>

                        <div class="text">
                            <h4>Peter Simons</h4>
                            <p>CEO & Founder</p>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </section>
 
</main>